[Desktop Entry]
Encoding=UTF-8
Name=Awesome GNOME
Comment=Gnome with Awesome as window manager
TryExec=gnome-session --sesion awesome
Exec=gnome-session --session=awesome
Type=Application
